%h2
  Настройки пользователя
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  %fieldset
    .control-group
      = f.label :name, 'Имя', class: 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :email, 'Электронная почта', class: 'control-label'
      .controls
        = f.email_field :email
    .control-group
      = f.label :password, 'Пароль', class: 'control-label'
      .controls
        = f.password_field :password
        %i Оставьте пустым, если не хотите его менять
    .control-group
      = f.label :password_confirmation, 'Подтверждение пароля', class: 'control-label'
      .controls
        = f.password_field :password_confirmation
    .control-group
      = f.label :current_password, 'Старый пароль', class: 'control-label'
      .controls
        = f.password_field :current_password
        %i Нужен для подтверждения изменений

  .form-actions
    = f.submit "Обновить", class: 'btn btn-primary'
    = link_to "Отменить", :back, class: 'btn btn-secondary'
    = link_to "Удалить учетную запись", registration_path(resource_name), :confirm => "Вы уверены, что хотите УДАЛИТЬ учетную запись?", :method => :delete, class: 'btn btn-danger'
