.row
  .span6
    %h1 Контент

    %h2= link_to 'Каталог', categories_path
    %p Страницы каталога товаров и услуг.

    %h2= link_to 'Страницы', pages_path
    %p Прочие страницы сайта, например, информация о контактах, вакансиях и так далее.

    %h2= link_to 'Новости', '/admin/news'
    %p Новости компании

    %h2= link_to 'Файлы', file_management_index_path
    %p Картинки и файлы, загруженные с помощью визуального редактора.

    %h2= link_to 'Текстовые зоны', text_zones_path
    %p Расположены на страницах сайта, но не относятся непоследственно к контенту. Текст в подвале, содержимое robots.txt и так далее.

    != render partial: 'custom_content'
  .span6
    %h1 Пользовательские данные
    - if respond_to? :orders_path
      %h2= link_to 'Заказы', orders_path
      %p Информация о заказах, размещенных через сайт.

    != render partial: 'custom_user_content'
  .span6
    %h1 Настройки
    %h2= link_to 'Счетчики', counters_path
    %p Устанавливаются в подвале сайта и позволяют следить за статистикой посещаемости.

    %h2= link_to 'Настройки почты', settings_orders_path
    %p Почтовые адреса для каждого отдела компании

    != render partial: 'custom_settings'

