%h2 Наши преимущества
%ul
  %li
    помимо алюминиевых полуфабрикатов компания имеет большой ассортимент медного, латунного, бронзового, черного, нержавеющего и инструментального металлопроката
  %li
    предлагаемый нами из складского наличия ассортимент металлопроката является одним из крупнейших в регионе
  %li
    предложение наиболее выгодных цен
  %li
    наличие металлопроката высокого качества с возможностью прохождения аттестации ФГУП «АВИАТЕХПРИЕМКА»
  %li
    комплекс сервисных услуг по резке
  %li
    доставка металлопроката по всей Российской Федерации
  %li
    Кроме этого имеем возможность изготовления по заводской цене профилей по Вашим чертежам