%ul.breadcrumb
  %li 
    %a{:href => '/'} Главная
    %span.divider /
  - (@path[0, @path.size - 1] || []).each_with_index do |item, index|
    %li
      - url = controller_name == "pages" ? @path_translit[index] : show_category_path(@path_translit[index])
      %a{:href => url}= item
      %span.divider /
  %li.active= @path.last