:css
  .meta-controls {
    display: none;
  }

.control-group.meta-edit
  .controls
    %a.btn.btn-primary
      %i.icon-edit.icon-white
      Редактировать мета-тэги

  :javascript
    $('.meta-edit a').click(function () { $('.meta-controls').show() && $('.meta-edit').hide(); });
.meta-controls
  = f.fields_for :meta do |meta_form|
    - %w'title keywords description'.each do |field|
      .control-group
        = meta_form.label field, field.capitalize, :class => 'control-label'
        .controls
          = meta_form.text_field field, :class => 'span12', :value => (object.meta[field] rescue nil)
