.well
  %p
    .btn-group
      %a.btn.btn-primary{href: new_news_path}
        %i.icon-edit.icon-white
        Добавить новость

  %h3
    Новости
  %ul.nav.nav-list
    - News.only(:id, :name, :created_at, :real_date).all.each do |news|
      %li{:class => defined?(@news) && news.id == @news.id ? 'active' : ''}
        %a{:href => edit_news_path(news)}!= news.name