.well
  %p
    .btn-group
      %a.btn.btn-primary{href: new_page_path}
        %i.icon-white.icon-edit
        Добавить страницу

  %h3
    Страницы

  %ul.nav.nav-list
    - Page.first_level.only(:id, :name).asc(:path).each do |page|
      %li.nav-header{:class => defined?(@page) && page.id == @page.id ? 'active' : ''}
        %a{:href => edit_page_path(page)}!= page.name

        = render partial: 'shared/recursive_page_nav_list', locals: {page: page}