.control-group
  = f.label :name_translit, "Путь", :class => 'control-label'
  .controls
    = f.text_field :name_translit, :class => 'span12', placeholder: 'Если не заполнено, то заполняется автоматически'
- if f.object.respond_to?(:subdomain) && f.object.kind_of?(Page)
  .control-group
    = f.label :subdomain, "Поддомен", :class => 'control-label'
    .controls
      = f.text_field :subdomain, :class => 'span12', placeholder: 'Лучше не трогать'
