.well
  %p
    .btn-group
      %a.btn.btn-primary{href: new_category_path}
        %i.icon-edit.icon-white
        Добавить категорию
      %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
        %span.caret

  %h3 Все категории

  %select.chzn-select#category-select(data-placeholder="Выберите категорию..." style="width: 100%;")
    %option(value="")
    - Category.includes(:name, :id).each do |c|
      %option(value="#{c.id}")= c.name

  :javascript
    $('#category-select').chosen().change(function() {
      var value = $(this).find(':selected').attr('value');
      document.location.assign("#{edit_category_path('path')}".replace('path', value));
    });

  - if @category.present? && (children = (parent = @category.parent).present? ? parent.children : Category.first_level) && children.any?
    %h3
      Соседи
      %small
        (#{link_to 'наверх', (parent.present? ? edit_item_order_path(parent) : item_order_index_path)})

    %ul.unstyled
      - children.only(:id, :name).each do |category|
        %li
          %a(title='Раскрыть' href="#{(has_children = category.children.any?) ? edit_item_order_path(category) : '#'}")
            %i(class="#{has_children ? 'icon-plus' : 'icon-white'}")
          = link_to category.name, edit_category_path(category)
