- (page.children || []).each do |subpage|
  %li{:class => "nav-content-#{subpage.id}", style: "padding-left: 20px;"}
    %a{:href => edit_page_path(subpage), style: defined?(@page) && subpage.id == @page.id ? 'text-decoration: underline' : ''}!= subpage.name
    - if subpage.respond_to?(:children) && subpage.children.present?
      %ul.unstyled
        = render partial: 'shared/recursive_page_nav_list', locals: {page: subpage}