%li.nav-content{'data-item-id' => item.id, style: "padding-left: 18px;"}
  - if item.respond_to?(:children)
    - if (children = item.children).present?
      %a.toggle_category{href: "#", style: 'display: inline;'}
        %b.icon-minus-sign &nbsp;
    - else
      %b.icon-white &nbsp;
    %a{:href => edit_category_path(item), class: defined?(@item) && item.id == @item.id ? 'active' : ''}!= item.name
    - if children.present?
      %ul.unstyled
        - children.each do |item|
          = render partial: 'shared/recursive_product_nav_list', locals: {item: item}
  - else
    %b.icon-white &nbsp;
    %a{:href => edit_product_path(item), style: defined?(@product) && item.id == @product.id ? 'text-decoration: underline' : ''}!= item.name
