.control-group
  = f.label :teaser, "Короткое описание", :class => 'control-label'
  .controls
    = f.text_area :teaser, :class => 'span5', :placeholder => 'Показывается на страницах каталога и в сниппетах', :rows => 2
.control-group
  = f.label :teaser_picture_link, "Ссылка на картинку для описания", :class => 'control-label'
  .controls
    = f.text_field :teaser_picture_link, :class => 'span6'
    = f.file_field :teaser_picture