= form_for @news, :html => {:class => 'form-horizontal'}, multipart: true do |f|
  -if @news.errors.any?
    #error_explanation
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = render 'shared/meta_form', :object => @news, :f => f
    .control-group
      = f.label :name, "Заголовок", :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'span6'

    = render 'shared/path', :object => @news, :f => f

    .control-group
      = f.label :date, "Дата", :class => 'control-label'
      .controls
        = f.text_field :date, :class => 'span6'
    .control-group
      = f.label :teaser, "Короткое описание", :class => 'control-label'
      .controls
        = f.text_area :teaser, :class => 'span6', rows: 4

    :css
      .news-controls {
        display: none;
      }

    .control-group.news-edit
      .controls
        %a.btn.btn-primary
          %i.icon-edit.icon-white
          Дополнительные настройки
      :javascript
        $('.news-edit a').click(function (){ $('.news-controls').show() && $('.news-edit').hide(); });

    .news-controls
      .control-group
        = f.label :picture_link, "Ссылка на картинку", :class => 'control-label'
        .controls
          = f.text_field :picture_link, :class => 'span6'
          = f.file_field :picture
      .control-group
        = f.label :external_link, "Ссылка на новость на другом сайте", :class => 'control-label'
        .controls
          = f.text_field :external_link, :class => 'span6'
      .control-group
        = f.label :file_link, "Ссылка на файл (например, .pdf с интервью)", :class => 'control-label'
        .controls
          = f.text_field :file_link, :class => 'span6'
          = f.file_field :file, :class => 'span6'
      .control-group
        = f.label :media_name, "Название издания (сайта или газеты)", :class => 'control-label'
        .controls
          = f.text_field :media_name, :class => 'span6'

    = f.cktext_area :text

  .control-group
    = f.label :enable_cleanup, "Очистить разметку", :class => 'control-label'
    .controls
      = f.check_box :enable_cleanup

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    = link_to 'Показать на сайте', custom_news_path(id: @news.name_translit), :class => 'btn btn-success', :target => 'blank' unless params[:action] == 'new'
    = link_to 'Удалить', @news, :confirm => 'Точно хотите УДАЛИТЬ?', :method => :delete, :class => 'btn btn-danger'

