%h1 Новости

- @newscast.each do |news|
  - link = (news.external_link.present? ? news.external_link : (news.file_link.present? ? news.file_link : custom_news_path(id: news.name_translit)))
  - target = news.external_link.present? || news.file_link.present? ? '_blank' : ''
  %h2!= link_to news.name, link, target: target
  - if news.picture_link.present?
    %img{src: news.picture_link, style: 'max-width: 300px;'}
  %h5
    #{news.date}
    - if news.media_name.present?
      %em= news.media_name
  %p!= news.teaser
  %p!= link_to 'Читать целиком', custom_news_path(id: news.name_translit), target: '_blank'

  %br
