%h1= @news.name
%h5
  #{@news.date}
  - if @news.media_name.present?
    %em= @news.media_name

- if @news.text.present?
  != @news.text
- else
  - if @news.picture_link.present?
    %img{src: @news.picture_link, style: 'max-width: 300px;'}

  %p!= @news.teaser

  %p= link_to 'Ссылка на сайт', @news.external_link, target: '_blank' if @news.external_link.present?
  %p= link_to 'Ссылка на файл', @news.file_link, target: '_blank' if @news.file_link.present?

%p
  %a.btn.btn-primary{href: custom_news_index_path}
    Все новости
    %i.icon-white.icon-chevron-right

= render partial: 'shared/disqus'