%ul.breadcrumb
  %li
    = link_to 'Каталог', item_order_index_path
    %span.divider /

  - if (object = @category).present?
    - path = []
    - while object.parent.present? do path << (object = object.parent) end

    - path.reverse.each do |item|
      %li
        = link_to item.name, edit_item_order_path(item)
        %span.divider /

    %li.active
      %a(title='Раскрыть' href="#{(has_children = @category.children.any?) ? edit_item_order_path(@category) : '#'}")
        %i(class="#{has_children ? 'icon-plus' : 'icon-white'}")
      = @category.name
