= render partial: 'item_order/breadcrumbs'

= form_for :order, :url => item_order_path(@category.present? ? @category.id : ''), :method => 'put', :html => {:class => 'form-horizontal'} do |f|
  -# :url => item_orders_path(params[:id]), :method => 'put',
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Название
        %th Действия
        %th Порядок
    %tbody
      - @objects.each do |object|
        %tr
          %td
            - if object.children.any?
              = link_to object.name, edit_item_order_path(object)
            - else
              = object.name
            = f.hidden_field object.id, class: 'order-hidden', 'data-name' => object.name
          %td
            %a.btn.btn-primary(title='Редактировать' href="#{edit_category_path(object)}")
              %i.icon-edit.icon-white

            %a.btn.btn-info(title='Показать на сайте' href="#{show_category_url(object.slug)}" target="_blank")
              %i.icon-share.icon-white

            %a.btn.btn-danger(data-confirm="Точно хотите УДАЛИТЬ?" data-method="delete" rel="nofollow" href="#{category_path(object)}" title="Удалить")
              %i.icon-trash.icon-white

          %td
            %a.btn.btn-primary.move-up(title='Вверх')
              %i.icon-chevron-up.icon-white
            %a.btn.btn-success.move-down(title='Вниз')
              %i.icon-chevron-down.icon-white


  .form-actions
    = f.submit 'Сохранить порядок элементов', :class => 'btn btn-primary'

:javascript
  $(document).ready(function() {
    $('.move-up').click(function(){
      var item = $(this).parent().parent();
      var prev = item.prev();
      item.insertBefore(prev);
    });

    $('.move-down').click(function(){
      var item = $(this).parent().parent();
      var prev = item.next();
      item.insertAfter(prev);
    });
  });

  $('form').submit(function() {
    $('.order-hidden').each(function(index, item) {
      $(item).attr('value', index);
    });
  });
