%h1 Файлы

%table.table.table-bordered.table-striped
  %tr
    %th Название
    %th Тип
    %th Размер
    %th Превью
    %th.span1

  - @attachments.each do |attachment|
    %tr
      %td= link_to attachment.data_file_name, attachment.url
      %td= attachment.data_content_type
      %td= kilobytes(attachment.data_file_size)
      %td
      %td
        = link_to 'Удалить', "/admin/file_management/#{attachment.id}", :class => 'btn btn-danger', :confirm => 'Вы точно хотите удалить файл?', :method => :delete
%br

%h1 Картинки

%ul.thumbnails
  - @pictures.each_with_index do |picture, index|
    - if (index % 5).zero?
      %br{clear: 'both'}

    %li.span3
      .thumbnail
        %img.span2{src: picture.data.thumb.url}
        %br{clear: 'both'}
        %h4= link_to picture.data_file_name, picture.url

        %p= kilobytes(picture.data_file_size)
        %p= link_to 'Удалить', "/admin/file_management/#{picture.id}", :class => 'btn btn-danger btn-small', :confirm => 'Вы точно хотите удалить картинку?', :method => :delete
