.wellgall
  = form_for @order, url: custom_orders_path, html: {class: 'form-horizontal'} do |f|
    - if @order.errors.any?
      .alert.alert-error#error_explanation
        %h2= "Видимо, произошла какая-то ошибка:"
        %ul
          - @order.errors.messages.values.each do |msg|
            %li= msg.first.to_s
    %fieldset
      - Order::FIELDS.each do |name, title|
        - required = Order::REQUIRED_FIELDS.include? name
        .control-group
          = f.label name, class: 'control-label' do
            = title
            - if required
              %span{style: 'color: red;'} *
          .controls
            - if name == :order_type
              = f.select(name, options_for_select(OrderSettings::FIELDS, @order.order_type || "Другое"))
            - elsif name == :text
              = f.text_area name, class: 'span6', rows: 10, required: required
            - else
              = f.text_field name, class: 'span6', required: required

    %fieldset
      .control-group
        %label.control-label
          Текст с картинки
          %span{style: 'color: red;'} *
        .controls
          = recaptcha_tags
    .form-actions
      = f.submit 'Отправить', class: 'btn btn-primary'
