%h1 Заявки

= will_paginate @orders

%table.table.table-bordered.table-striped
  %tr
    %th Дата
    %th Заказчик
    %th Продукция
    %th Действия

  - @orders.each do |order|
    :ruby
      title_fields = []
      [:company, :name, :email, :phone].each do |field|
        if order.respond_to?(field) && (value = order.send(field)).present?
          title_fields << value
        end
      end
    %tr
      %td= order.created_at
      %td= link_to title_fields.join(', '), order_path(order.id)
      %td= order.order_type
      %td
        %a.btn.btn-primary{href: order_path(order.id), title: 'Посмотреть'}
          %i.icon-eye-open.icon-white
        %a.btn.btn-info{href: resend_orders_path(order.id), title: 'Отослать email повторно'}
          %i.icon-envelope.icon-white
        %a.btn.btn-danger{href: order_path(order.id), 'data-confirm' => 'Вы уверены?', 'data-method' => :delete, title: 'Удалить'}
          %i.icon-trash.icon-white
