%h1 Настройки почты
= form_for OrderSettings.instance, url: settings_orders_path, html: {class: 'form-stacked'} do |f|
  - OrderSettings::FIELDS.each_slice(2) do |list|
    .row
      - list.each do |name|
        .span6
          %fieldset
            .control-group
              = f.label name, name, class: 'control-label'
              .controls
                = text_area :settings, name, class: 'span6', rows: 2, value: OrderSettings.instance.data[name]
  .form-actions
    = f.submit "Сохранить", class: 'btn btn-primary'