%h1 Заявка от #{@order.created_at}

%table.table.table-striped
  - Order::FIELDS.each do |name, title|
    %tr
      %th= title
      %td
        - if name == :text
          %pre= @order.send name
        - else
          = @order.send name

%p
  %a.btn.btn-primary{href: '/admin/orders'} Все заказы
  = link_to 'Удалить', "/admin/orders/#{@order.id}", :class => 'btn btn-danger', :confirm => 'Вы уверены?', :method => :delete
