= form_for @page, :html => {:class => 'form-horizontal'} do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = render 'shared/meta_form', :object => @page, :f => f
    .control-group
      = f.label :name, "Имя", :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'span12'

    = render 'shared/path', :object => @page, :f => f

    - unless @page.root?
      .control-group
        = f.label :page_id, "Родительская страница", :class => 'control-label'
        .controls
          = f.select(:page_id, options_from_collection_for_select(Page.unscoped.not_root.not_in(_id: [@page.id]).asc(:name).to_a, :id, :name, @page.page_id), {include_blank: ''}, class: 'span12')

    = f.cktext_area :description

    .control-group
      = f.label :enable_cleanup, "Очистить разметку", :class => 'control-label'
      .controls
        = f.check_box :enable_cleanup

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    - if @page.persisted?
      = link_to 'Показать на сайте', "/#{@page.slug}", :class => 'btn btn-success', :target => 'blank'
      = link_to 'Удалить', @page, :confirm => 'Точно хотите УДАЛИТЬ?', :method => :delete, :class => 'btn btn-danger'

