= render 'shared/breadcrumbs', :path => @path, :path_translit => @path_translit
%h1= @category.name

- if (subcategories = @category.categories).present?
  %ul.unstyled
    - subcategories.each do |subcategory|
      %li= link_to subcategory.name, show_category_path(subcategory.slug)

!= @category.description
