%h2 Вход
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  %fieldset
    .control-group
      = f.label :email, 'Электронная почта', class: 'control-label'
      .controls
        = f.email_field :email
    .control-group
      = f.label :password, 'Пароль', class: 'control-label'
      .controls
        = f.password_field :password
    - if devise_mapping.rememberable?
      .control-group
        = f.label :remember_me, 'Запомнить меня', class: 'control-label'
        .controls
          = f.check_box :remember_me

  .form-actions
    = f.submit "Войти", class: 'btn btn-primary'
