Новая заявка (<a href="#{order_url(@order.id, Rails.application.default_url_options)}">ссылка</a>)

%table
  - Order::FIELDS.each do |field, title|
    - next if @order.send(field).empty?
    %tr
      %th{align: 'right', valign: 'top'} #{title}:
      %td= @order.send(field)

Пожалуйста, не отвечайте на это письмо, оно сгенерировано автоматически.
