= form_for @counter, :html => {:class => 'form-stackable'} do |f|
  -if @counter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@counter.errors.count, "error")} prohibited this counter from being saved:"
      %ul
        - @counter.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :name, "Имя", :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'span5'
    .control-group
      = f.label :enabled, "Отображать", :class => 'control-label'
      .controls
        =f.check_box :enabled
    .control-group
      = f.label :source, "Исходник", :class => 'control-label'
      .controls
        = f.text_area :source, :class => 'span9'
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    = link_to 'Удалить', @counter, :confirm => 'Точно хотите УДАЛИТЬ?', :method => :delete, :class => 'btn btn-danger'

