%h1 Счетчики

%table.table.table-bordered.table-striped
  %tr
    %th Название
    %th.span2 Отображается
    %th.span1

  - @counters.each do |counter|
    %tr
      %td= link_to counter.name, edit_counter_path(counter)
      %td= counter.enabled ? 'да' : 'нет'
      %td
        = link_to 'Удалить', counter, :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Добавить счетчик', new_counter_path, :class => 'btn'
