%p#notice= notice

%p
  %b Name:
  = @counter.name
%p
  %b Enabled:
  = @counter.enabled
%p
  %b Source:
  = @counter.source

= link_to 'Edit', edit_counter_path(@counter)
\|
= link_to 'Back', counters_path
