= form_for @category, :html => {:class => 'form-horizontal'} do |f|
  -if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = render 'shared/meta_form', :object => @category, :f => f
    .control-group
      = f.label :name, "Имя", :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'span12'

    = render 'shared/path', :object => @category, :f => f

    .control-group
      = f.label :category_id, "Родительская категория", :class => 'control-label'
      .controls
        = f.select(:category_id, options_from_collection_for_select(Category.unscoped.not_in(_id: [@category.id]).asc(:name).to_a, :id, :name, @category.category_id), {include_blank: ''}, class: 'span12 chzn-select', "data-placeholder" => 'Выберите категорию')

    .control-group
      = f.label :teaser, 'Краткое описание', class: 'control-label'
      .controls
        = f.text_area :teaser, class: 'span12', rows: 2

    .control-group
      = f.label :picture, 'Картинка', class: 'control-label'
      .controls
        - if @category.picture.present?
          %img.img-rounded.bordered.pull-left{src: @category.picture.thumb.url}
          .pull-left.offset1
            = f.label :remove_picture, 'Удалить', {class: 'checkbox'} do
              Удалить
              = f.check_box :remove_picture
            %br
            = f.file_field :picture
        - else
          = f.file_field :picture

    = f.cktext_area :description

    .control-group
      = f.label :enable_cleanup, "Очистить разметку", :class => 'control-label'
      .controls
        = f.check_box :enable_cleanup

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    - if @category.persisted?
      = link_to 'Показать на сайте', show_category_url(@category.slug), :class => 'btn btn-success', :target => 'blank'
      = link_to 'Удалить', @category, :confirm => 'Точно хотите УДАЛИТЬ?', :method => :delete, :class => 'btn btn-danger'

:css
  .bordered {
    border: 1px solid black;
  }
