= form_for @text_zone, html: {class: 'form-horizontal'} do |f|
  -if @text_zone.errors.any?
    .alert.alert-error#error_explanation
      %h2= "Внезапно, ошибка!"
      %ul
        - @text_zone.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :name, 'Имя', class: 'control-label'
      .controls
        = f.text_field :name, class: 'span6', placeholder: 'Например, footer'

    .control-group
      = f.label :description, 'Описание', class: 'control-label'
      .controls
        = f.text_area :description, class: 'span6', rows: 3, placeholder: 'Например, "для отображения в самом низу страницы"'

    .control-group
      = f.label :enabled, 'Показывать?', class: 'control-label'
      .controls
        = f.check_box :enabled
    .control-group
      = f.label :source, 'Текст', class: 'control-label'
      .controls
        = f.text_area :source, class: 'span6', rows: 25, placeholder: 'Например, "наш адрес - улица Такая-то, дом 1"'

  .form-actions
    = f.submit "Обновить", class: 'btn btn-primary'
    = link_to "Отменить", :back, class: 'btn btn-secondary'
    = link_to "Удалить", text_zone_path, :confirm => "Вы уверены, что хотите УДАЛИТЬ учетную запись?", :method => :delete, class: 'btn btn-danger' if @text_zone.persisted?
