%h1 Текстовые зоны

%table.table.table-bordered.table-striped
  %tr
    %th Название
    %th.span2 Отображается
    %th Описание
    %th.span1

  - @text_zones.each do |text_zone|
    %tr
      %td= link_to text_zone.name, edit_text_zone_path(text_zone)
      %td= text_zone.enabled ? 'да' : 'нет'
      %td= text_zone.description
      %td
        = link_to 'Удалить', text_zone, :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Добавить текстовую зону', new_text_zone_path, :class => 'btn btn-primary'