%p#notice= notice

%p
  %b Name:
  = @text_zone.name
%p
  %b Enabled:
  = @text_zone.enabled
%p
  %b Source:
  = @text_zone.source

= link_to 'Edit', edit_text_zone_path(@text_zone)
\|
= link_to 'Back', text_zones_path
