%a.brand{href: '/'}!= request.host
%ul.nav
  %li
    %a{href: '/admin'}
      %i.icon-home
  %li.dropdown#menu_about
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#menu_about'}
      Редактор
      %b.caret

    %ul.dropdown-menu
      - about = {'Каталог' => categories_path, 'Страницы' => pages_path, 'Новости' => '/admin/news'}
      - about.each do |title, link|
        %li= link_to title, link
  - if respond_to? :orders_path
    %li
      != link_to 'Заказы', orders_path
  %li
    != link_to 'Счетчики', counters_path
  %li
    != link_to 'Файлы', file_management_index_path
  %li
    != link_to 'Текстовые зоны', text_zones_path
  -#%li
  -#  != link_to 'Настройки', '#'
  %li
    != link_to 'Настройки пользователя', edit_user_registration_path
  %li
    != link_to('Выход', destroy_user_session_path, :method=>'delete')
