- # coding: utf-8
!!!
%html
  %head
    %title #{request.domain} - система управления сайтом от sqcat.com
    %meta{:name => "description", :content => description}
    %meta{:name => "keywords", :content => keywords}
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      
      <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=cyrillic' rel='stylesheet' type='text/css'>

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags

    :css
      body {background-color: white; background-image: none; }


  %body.admin{:class => params[:controller]}
    .navbar
      .navbar-inner
        .container-fluid
          = render partial: 'layouts/admin_layout_menu'

    - if notice.present?
      .row-fluid
        .span12
          .alert= notice
    .content
      .container-fluid
        = yield
