!!!
%html
  %head
    %title= title
    :plain
      <meta name="description" content="#{description}">
      <meta name="keywords" content="#{keywords}">
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      
      <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=cyrillic' rel='stylesheet' type='text/css'>

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    :css
      ul.ui-autocomplete {
        background-color: white;
        width: 200px;
        list-style-type: none;
        background-color: #eeffff;
        border-radius: 5px;
      }
      li.ui-menu-item {
        padding-left: 5px;
      }

    :css
      html, body {
          height: 100%;
      }
      footer {
          padding: 17px 0 18px 0;
          border-top: 1px solid #eee;
      }
      .wrapper {
          min-height: 100%;
          height: auto !important;
          height: 100%;
          margin: 0 auto -63px;
      }
      .push {
          height: 63px;
      }



  %body{:class => params[:controller]}
    .wrapper
      .container
        %header{:style => '/border-bottom: 1px solid red'}
          - if user_signed_in?
            .navbar
              .navbar-inner
                .container
                  %a.brand{href: '/'}!= request.host
                  %ul.nav
                    %li
                      != link_to 'Редактор', categories_path
                    %li
                      != link_to 'Счетчики', counters_path
                    %li
                      != link_to 'Файлы', file_management_index_path
                    %li
                      != link_to 'Текстовые зоны', text_zones_path
                    %li
                      != link_to 'Настройки', '#'
                    %li
                      != link_to 'Настройки пользователя', edit_user_registration_path
                    %li
                      != link_to('Выход', destroy_user_session_path, :method=>'delete')
          - unless admin_scope?
            .row-fluid{:style => 'height: 10px;'}
            .row-fluid
              .span6
                %h1{:style => 'font-family: Lobster; font-size: 5.0em; margin-top: 0px; margin-bottom: 25px'}
                  %a{:href => "/"} Тестовый сайт
                %p
                  Доставка по всей территории России!

              != text_zone :header_address
            .row-fluid
              .span6
                %form{:action => '/search'}
                  %input.input-xlarge#search{type: 'text', placeholder: 'Поиск по каталогу', name: 'query', autocomplete: 'off', value: params[:query]}
                  %button.btn#search_button{type: 'submit'}
                    %i.icon-search
                    Искать
                  :javascript
                    $('#search').typeahead({source: suggests })
              != text_zone :header_navigation

          - if notice.present?
            .row-fluid
              .span12
                .alert= notice
        .content
          = yield
      .push
    %footer.container
      != text_zone :footer
      #counters
        != counters